
body {
    margin: 0px;
}

img {
    width: 112px;
}

h1.titulo {
    font-family: 'Kaushan Script', cursive;
    font-size: 36px;
    font-weight: 550;
}

h2.subtitulo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: normal;
}

p.referencias {
    font-style: italic;
    text-align: start;
}

p.pares {
    padding-left: 34px;
}

.verdadeParagrafos {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: justify;
    padding-left: 323px;
    margin-bottom: 3em;
}

.comoTemosAVerdade {
    clear: left;
}

#cabecalho {
    background-color: cornflowerblue;
    padding-left: 34px;
    padding-top: 20px;
    padding-bottom: 13px;
    color: white
}

#hoje {
    background-color: #f8cef7;
    border-style: solid;
    border-color: #ff56fb;
    border-width: 1px;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 30px;
    text-align: center;
    float: right;
    width: 405px;
    box-sizing: border-box;
    margin-right: 20px;
}

#musica {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-left: 12px;
}

#imagem-principal {
    width: 310px;
    float: left;
}